In [1]:
import pandas as pd
df = pd.read_csv('bases/TULANCINGO_24.csv')
df = df[['Occupation','Workforce', 'Monthly Wage', 'lastPeriod']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Occupation    328 non-null    object
 1   Workforce     328 non-null    int64
 2   Monthly Wage  328 non-null    float64
 3   lastPeriod    328 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ KB

In [2]:
df['lastPeriod'] = df['lastPeriod'].round(2)
df['Monthly Wage'] = df['Monthly Wage'].round(2)

df['diferencia'] = round(df['Monthly Wage'] - df['lastPeriod'],2)
df['diferencia_2'] = df.apply(lambda row: round(row['lastPeriod'] / row['Monthly Wage'],2) if row['Monthly Wage'] != 0 else 0, axis=1)
df['Salario_Variables'] = df[['Monthly Wage', 'lastPeriod']].max(axis=1)
df['volumen'] = df['Salario_Variables'] * df['Workforce']
df['pareja'] = round(df['Salario_Variables'] * 1.7,2)

In [3]:
# Función para asignar la categoría en función del salario
def asignar_categoria(salario):
    if 10 <= salario < 5000:
        return "G"
    elif 5000 <= salario < 8000:
        return "F"
    elif 8000 <= salario < 12000:
        return "F1"
    elif 12000 <= salario < 16000:
        return "E"
    elif 16000 <= salario < 20000:
        return "E1"
    elif 20000 <= salario < 25000:
        return "D"
    elif 25000 <= salario < 30000:
        return "D1"
    elif 30000 <= salario < 35000:
        return "C"
    elif 35000 <= salario < 40000:
        return "C1"
    elif 40000 <= salario < 45000:
        return "B"
    elif 45000 <= salario < 50000:
        return "B1"
    elif 50000 <= salario < 55000:
        return "A"
    elif 55000 <= salario < 60000:
        return "A1"
    elif salario > 60000:
        return "S"
    else:
        return None  # En caso de que no cumpla con ningún rango
# Aplicar la función al DataFrame
df['categoria_persona'] = df['Salario_Variables'].apply(asignar_categoria)
df['categoria_pareja'] = df['pareja'].apply(asignar_categoria)

In [4]:
df.head()

,Occupation,Workforce,Monthly Wage,lastPeriod,diferencia,diferencia_2,Salario_Variables,volumen,pareja,categoria_persona,categoria_pareja
0,Presidentes y Autoridades Municipales,87,0.00,0.00,0.00,0.00,0.00,0.00,0.00,None,None
1,Presidentes y Directores Generales en Instituc...,119,30088.24,36057.69,-5969.45,1.20,36057.69,4290865.11,61298.07,C1,S
2,Presidentes y Directores Generales en Instituc...,155,4913.55,3465.90,1447.65,0.71,4913.55,761600.25,8353.04,G,F1
3,Directores de Organizaciones Sindicales,75,8000.00,0.00,8000.00,0.00,8000.00,600000.00,13600.00,F1,E
4,Directores de Organizaciones Civiles y Religiosas,61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,None,None

In [41]:
df.to_csv('clean/QUERETARO_24.csv', index=False, encoding='utf-8')

In [5]:
df.to_json('C:\\xampp\\htdocs\\datalpine\\resources\\db\\datos_json\\datos_salarios_tulancingo.json', orient='records', lines=False)